.page-item {
  .page-link {
    z-index: 1;
    color: theme-color("primary");
    background-color: color("white");

    :hover {
      z-index: inherit;
      color: color("white");
      background-color: theme-color("primary");
    }
  }
}

.page-item.active .page-link {
  z-index: 1;
  color: color("white");
  background-color: theme-color("primary");
  border-color:theme-color("primary");
}